<li>
    <i class="fa fa-user" aria-hidden="true"></i>
    <i class="fa fa-beer green" aria-hidden="true" ng-show="value.winner === 'tie'"></i>
    <i class="fa fa-check green" aria-hidden="true" ng-show="value.winner === 'player'"></i>
    <i class="fa fa-times red" aria-hidden="true" ng-show="value.winner === 'computer'"></i>
    <span>Round {{value.round}}</span>
    <i class="fa fa-check green" aria-hidden="true" ng-show="value.winner === 'computer'"></i>
    <i class="fa fa-times red" aria-hidden="true" ng-show="value.winner === 'player'"></i>
    <i class="fa fa-beer green" aria-hidden="true" ng-show="value.winner === 'tie'"></i>
    <i class="fa fa-laptop" aria-hidden="true"></i>
</li>
